/cmake-build-debug/log/1649475226.bmp
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a14f82f4f6b72c58fc3a.json
/cmake-build-debug/CMakeFiles/pyECCP_test.dir/src/ECCP.c.o
/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-10T01-56-45-0150.json
/cmake-build-debug/.cmake/api/v1/reply/target-pyECCP_test-Debug-224eb9ff156dcdbe323f.json
/cmake-build-debug/CMakeFiles/pyECCP_test.dir/test/test1_BMPcodec.c.o
/cmake-build-debug/CMakeFiles/pyECCP_test.dir/test/test3_ECCP.c.o
/cmake-build-debug/testfile1.bmp
/cmake-build-debug/*
/.vscode/*
/.idea/*